{
  "version": 2,
  "extra_config": {
    "github_com/devopsfaith/krakend-gologging": {
      "level": "WARNING",
      "prefix": "[KRAKEND]",
      "syslog": false,
      "stdout": true,
      "format": "default"
    }
  },
  "timeout": "3000ms",
  "cache_ttl": "300s",
  "output_encoding": "json",
  "name": "api_gateway",
  "port": {{ gateway_port }},
  "endpoints": [
    {
      "endpoint": "/bap/actuator/{endpoint}",
      "method": "GET",
      "output_encoding": "json",
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "/actuator/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "GET",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/actuator/{endpoint}",
      "method": "POST",
      "output_encoding": "json",
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "/actuator/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "POST",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/client/{version}/{endpoint}/{id}",
      "method": "GET",
      "output_encoding": "json",
      "querystring_params": [
        "*"
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "client/{version}/{endpoint}/{id}",
          "encoding": "json",
          "sd": "static",
          "method": "GET",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/client/{version}/{endpoint}",
      "method": "PUT",
      "output_encoding": "json",
      "querystring_params": [
        "*"
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "client/{version}/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "PUT",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/client/{version}/{endpoint}",
      "method": "GET",
      "output_encoding": "json",
      "querystring_params": [
        "*"
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "client/{version}/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "GET",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/client/{version}/{endpoint}",
      "method": "POST",
      "output_encoding": "json",
      "querystring_params": [
        "*"
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "client/{version}/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "POST",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/client/{version}/get_order_policy",
      "method": "POST",
      "output_encoding": "json",
      "querystring_params": [
        "*"
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "client/{version}/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "POST",
          "extra_config": {},
          "is_collection": true,
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    },
    {
      "endpoint": "/bap/{version}/{endpoint}",
      "method": "POST",
      "output_encoding": "json",
      "querystring_params": [
        "*"
      ],
      "extra_config": {
        "github.com/devopsfaith/krakend/proxy": {
          "sequential": false
        }
      },
      "backend": [
        {
          "url_pattern": "{version}/{endpoint}",
          "encoding": "json",
          "sd": "static",
          "method": "POST",
          "extra_config": {},
          "host": [
            "10.0.1.184:9001"
          ],
          "disable_host_sanitize": false
        }
      ]
    }
  ]
}