[Unit]
Description=Krakend API Gateway

[Service]
WorkingDirectory={{ root_dir }}
TimeoutStartSec=60
Restart=always
ExecStart=/usr/bin/docker run -p {{ gateway_port }}:{{ gateway_port }} -v {{ root_dir }}:{{ root_dir_inside_container }} --rm --name %n {{ image_name }} run --config {{ root_dir_inside_container }}/{{ config_file }}
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target

